<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Disney Rest Api</title>
</head>
<body>
    <div class="logo-container">
        <img class="logo" src="static/images/Disney.png"/>
    </div>
    <div class="anchors">
        <a href="https://disney-api-bdd875247f87.herokuapp.com/superheros">Superheros</a>
        <a href="https://disney-api-bdd875247f87.herokuapp.com/comics">Comics</a>
        <a href="https://disney-api-bdd875247f87.herokuapp.com/toys">Toys</a> 
    </div>
    <div class="list-container">
        
        <table id="data">
            {% for item in items %}
                {% if item|length == 7 and items|length == 6 %}
                    {% if loop.first == True %}
                        <tr>
                            <th>Toy ID</th>
                            <th>Superhero ID</th>
                            <th>Type</th>
                            <th>Series</th>
                            <th>Ages</th>
                        </tr>
                    {% endif %}
                <tr>
                    <td>{{item[4]}}</td>
                     <td>{{item[0]}}</td>
                     <td>{{item[1]}}</td> 
                     <td>{{item[2]}}</td>  
                     <td>{{item[3]}}</td>
                </tr>

                {% endif%}


                {% if item|length == 7 and items|length == 42 %}
                    {% if loop.first == True %}
                        <tr>
                            <th>Comic ID</th>
                            <th>Superhero ID</th>
                            <th style="text-align: center;">Title</th>
                            <th>Issue#</th>
                            
                        <tr>
                    {% endif %}
                            <td>{{item[0]}}</td>
                            <td>{{item[5]}}</td>
                            <td>{{item[1]}}</td> 
                            <td>{{item[2]}}</td>  
                          
                            
                        </tr>
                    

                {% endif%}
                    {% if item|length != 7 %}
                        {% if loop.first == True %}
                            <tr>
                                <th>Superhero ID</th>
                                <th>Superhero</th>
                                <th>Toys</th>
                                <th>Comics</th>
                            </tr>
                        {% endif %}
                    <tr>
                        <td>{{item[0]}}</td>
                         <td>{{item[1]}}</td> 
                         <td>{{item[2]}}</td>  
                         <td>{{item[3]}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
       
    </div>
   


</body>
</html>